# Python cache files
__pycache__
**/*.pyc
.venv

# UI dependencies
ui/node_modules/

# UI build output
ui/build/

# UI package manager debug output
ui/*.log
.skiff/webapp.yaml

# Skiff env file
.env

# skiff files?
async-state/**
open_access/**
api/*.lock
local_skiff_files/**
logs
